# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/

# Database
database/*.db
database/*.sqlite

# Logs
logs/

# IDE
.vscode/

# Environment
.env
gpa_credentials.txt

# OS
Thumbs.db
.DS_Store
